@charset 'utf-8';
.header > .site-topbar {
  background-color: #333333;
  position: relative;
  z-index: 30;
  height: 40px;
  font-size: 12px;
  color: #b0b0b0;
}
.header > .site-topbar > .container > .topbar-nav {
  float: left;
  height: 40px;
  line-height: 40px;
}
.header > .site-topbar > .container > .topbar-nav > a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
}
.header > .site-topbar > .container > .topbar-nav > .sep {
  margin: 0 0.3em;
  color: #424242;
}
.header > .site-topbar > .container > .topbar-cart {
  position: relative;
  float: right;
  width: 120px;
  height: 40px;
  margin-left: 15px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  font-size: 12px;
}
.header > .site-topbar > .container > .topbar-cart > .cart-mini {
  position: relative;
  z-index: 32;
  display: block;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #b0b0b0;
  background: #424242;
}
.header > .site-topbar > .container > .topbar-info {
  position: relative;
  float: right;
  height: 40px;
  line-height: 40px;
}
.header > .site-topbar > .container > .topbar-info > a {
  color: #b0b0b0;
  line-height: 40px;
  padding: 0 1px;
  text-align: center;
  float: left;
}
.header > .site-topbar > .container > .topbar-info > .sep {
  margin: 0 0.3em;
  color: #424242;
  float: left;
}
.header > .site-topbar > .container > .topbar-info > .massage {
  float: left;
  padding: 0 10px;
}
.header > .site-topbar > .container > .topbar-info > .massage > a {
  color: #b0b0b0;
  line-height: 40px;
  display: inline-block;
  text-align: center;
}
.header > .site-header {
  position: relative;
  z-index: 20;
  height: 100px;
}
.header > .site-header .container {
  position: relative;
}
.header > .site-header .container > .header-logo {
  float: left;
  width: 62px;
  margin-top: 22px;
}
.header > .site-header .container > .header-logo > .logo {
  position: relative;
  display: block;
  width: 55px;
  height: 55px;
  overflow: hidden;
  background-color: #ff6700;
  text-align: left;
  text-indent: -9999em;
}
.header > .site-header .container > .header-logo > .logo::before,
.header > .site-header .container > .header-logo .logo::after {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  width: 55px;
  height: 55px;
  content: "";
  transform-origin: 50% 50%;
  transition: all 0.2s;
  transform: translateZ(0);
}
.header > .site-header .container > .header-logo > .logo::before {
  background: url(https://s02.mifile.cn/assets/static/image/mi-logo.png) no-repeat 50% 50%;
  opacity: 1;
}
.header > .site-header .container > .header-logo > .logo::after {
  background: url(https://s02.mifile.cn/assets/static/image/mi-home.png) no-repeat 50% 50%;
  opacity: 0;
  margin-left: -55px;
}
.header > .site-header .container > .header-logo > .logo:hover::before,
.header > .site-header .container > .header-logo .logo:hover::after {
  transform: translate3d(55px, 0, 0);
}
.header > .site-header .container > .header-logo > .logo:hover::after {
  opacity: 1;
}
.header > .site-header .container > .header-nav {
  float: left;
  width: 850px;
}
.header > .site-header .container > .header-nav > .nav-list {
  position: relative;
  z-index: 10;
  float: left;
  width: 1100px;
  height: 88px;
  margin: 0;
  padding: 12px 0 0 30px;
  list-style-type: none;
  font-size: 16px;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-item {
  float: left;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-item > .link {
  display: block;
  padding: 26px 10px 38px;
  color: #333;
  transition: color 0.2s;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-item:hover > .link {
  color: #ff6700;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category {
  position: relative;
  float: left;
  width: 127px;
  padding-right: 15px;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category > .link-category {
  display: block;
  padding: 26px 0 38px;
  text-align: right;
  color: #333;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category > .site-category {
  position: absolute;
  top: 88px;
  left: -92px;
  z-index: 21;
  width: 234px;
  height: 460px;
  font-size: 14px;
  display: none;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list {
  height: 418px;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
  border: 1px solid #ff6700;
  color: #424242;
  background: #fff;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list > .category-item > .title {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 42px;
  line-height: 42px;
  color: #424242;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list > .category-item > .title > em {
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 16px;
  line-height: 16px;
  color: #e0e0e0;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category > .site-category > .site-category-list > .category-item:hover {
  background-color: #ff6700;
}
.header > .site-header .container > .header-nav > .nav-list > .nav-category:hover .site-category {
  display: block;
}
.header > .site-header .container > .header-search {
  float: right;
  width: 296px;
  margin-top: 25px;
}
.header > .site-header .container > .header-search > .search-form {
  position: relative;
  width: 296px;
  height: 50px;
  z-index: 20;
}
.header > .site-header .container > .header-search > .search-form > .search-text {
  box-sizing: content-box;
  position: absolute;
  top: 0;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all 0.2s;
  right: 51px;
  z-index: 1;
  width: 223px;
  height: 48px;
  padding: 0 10px;
  font-size: 14px;
  line-height: 48px;
  cursor: pointer;
}
.header > .site-header .container > .header-search > .search-form > .search-btn {
  right: 0;
  z-index: 2;
  width: 50px;
  height: 48px;
  font-size: 18px;
  line-height: 24px;
  background: #fff;
  color: #616161;
  position: absolute;
  top: 0;
  border: 1px solid #e0e0e0;
  outline: 0;
  transition: all 0.2s;
  cursor: pointer;
}
.header > .site-header > .header-nav-menu {
  position: absolute;
  top: 100px;
  left: 0;
  z-index: 99999;
  width: 100%;
  height: 0;
  border-top: 1px solid #e0e0e0;
  background: #fff;
  overflow: hidden;
}
.header > .site-header > .header-nav-menu .children-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  font-size: 12px;
}
.header > .site-header > .header-nav-menu .children-list > li {
  position: relative;
  float: left;
  width: 180px;
  padding: 35px 12px 0;
  text-align: center;
}
.header > .site-header > .header-nav-menu .children-list > li > a > .figure-thumb {
  width: 160px;
  height: 110px;
  margin: 0 auto 16px;
  text-align: center;
}
.header > .site-header > .header-nav-menu .children-list > li > a > .figure-thumb > img {
  width: 160px;
  height: 110px;
}
.header > .site-header > .header-nav-menu .children-list > li > a > .figure-thumb > .title {
  margin: 0;
  line-height: 20px;
  color: #333;
}
.header > .site-header > .header-nav-menu .children-list > li > a > .figure-thumb > .price {
  margin: 0;
  line-height: 20px;
  color: #ff6700;
}
.xm-product-box {
  position: sticky;
  z-index: 4;
  background: #fff;
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.07);
}
.xm-product-box > .nav-bar {
  position: relative;
  height: 63px;
  width: 100%;
  margin-top: 0;
  color: #616161;
}
.xm-product-box > .nav-bar h2 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 60px;
  color: #424242;
  float: left;
}
.xm-product-box > .nav-bar .left {
  float: left;
  margin-left: 5px;
  font-size: 12px;
  margin-top: 21px;
}
.xm-product-box > .nav-bar .left > .separator {
  margin: 0 0.5em;
  color: #424242;
}
.xm-product-box > .nav-bar .left > a {
  color: #616161;
}
.xm-product-box > .nav-bar .right {
  float: right;
  margin: 17px 0 0 0;
}
.xm-product-box > .nav-bar .right > a {
  color: #616161;
}
.xm-product-box > .nav-bar .right > .separator {
  margin: 0 0.5em;
  color: #e0e0e0;
}
